body{
    font-family:Georgia, 'Times New Roman', sans-serif;
    background-color: antiquewhite;
    margin:0px;
}
.header{
    background-color: rgb(166, 188, 209);
}

ul{
    background: rgb(181, 231, 243);
    padding:30px;
    margin:0px;
}
.content ul li{
    width:200px;
    list-style-type: square;
    font-size:26px;
    color:hsl(300, 81%, 36%);  
    margin:40px 0px;  
}
.content ul li:first-child{
    margin-top:0px;
}
.content ul li:last-child{
    margin-bottom:0px;
}
.content ul li:hover{
    background-color: orange;
}
.content a{
    text-decoration: none;
}
.header h1{
    width:300px;
    margin:0px auto;
    font-size:48px;
    text-shadow:2px 2px blue;
}